.App {
  text-align: center;
  background-color: grey;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.formContainer{
  justify-content: center;
  display: grid;
  column-gap: 24px;
  grid-template-columns: 15% 15% 15%;
  grid-template-areas: 
    "name surname username" 
    ". submitButton ."
    ". formData ." ;
}
.formLeft{
  grid-area: name;
  justify-self: end;
}
.formMiddle{
  grid-area: surname;
}
.formRight{
  grid-area: username;
  justify-self: start;
}
.formData{
  grid-area: formData;
}
.formSubmit{
  grid-area: submitButton;
}
.formSubmit, .formData, .formLeft, .formMiddle, .formRight{
  border: 3px dotted red;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
